<header class="navbar navbar-fixed-top navbar-inverse">

<div class="bg-white text-gray-900">
  <header class="flex justify-between items-center p-6">
    <div class="flex items-center space-x-2">
      <i class="fas fa-map-marker-alt text-gray-900"></i>
      <a href="/">
        <button class="flex items-center space-x-2 focus:outline-none">
          <img src="/wasedaplacelogo.png" alt="Logo" width="30" height="30" class="rounded-full">
          <span class="font-semibold text-xl">Waseda Place</span>
        </button>
      </a>
    </div>
    <a href="<%= booking_index_path %>">
      <%# <%= link_to "Book now", booking_index_path, class: "booking-top-button" %>
      <button class="booking-top-button">Book Now</button>
    </a>
  </header>
</div>

  <div class="container">
    <!-- <li><%= link_to "Home", root_path %></li> -->
    <!-- <li><%= link_to "Help", help_path %></li> -->
      <% if logged_in? %>
          <!-- <a href="#" id="account" class="dropdown-toggle"> -->
          <!--   Account <b class="caret"></b> -->
          <!-- </a> -->
        <ul id="dropdown-menu" class="">
          <li><%= link_to "Profile", current_user %></li>
          <!-- <li><%= link_to "Settings", edit_user_path(current_user) %></li> -->
          <li><%= link_to "Book", booking_index_path %></li>
          <!-- <li class="divider"></li> -->
          <li><%= link_to "Log out", logout_path, data: { "turbo": true, "turbo-method": :delete } %></li>
        </ul>
      </li>
      <% else %>
        <li><%= link_to "Log in", login_path %></li>
      <% end %>
    </ul>
    <!-- </nav> -->
   </div>
</header>
